{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>shogokatoxx_blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      {% endif %}
      <h1><a href="/">shogokatoblog</a></h1>
    </div>
    <!-- これで項目の何が表示されるか指定できる -->
    <!-- |linebreaksbrはpostのテキスト中の改行を段落に変換するフィルタに通す -->
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

    <!-- これでリストの中身を表示できるが項目のタイトルしか表示できていない -->
    <!-- {% for post in posts %}
      {{ post }}
    {% endfor %} -->

    <!-- djangoはposts変数をオブジェクトのリストと認識してしまう -->
    <!-- {{ posts }} -->
  </body>
</html>
